<div class="py-1 box-border flex items-center justify-center w-screen h-screen">
  <div
    class="max-h-[90%] gap-3 flex flex-col justify-center pt-2 box-border container w-full mx-2 border-2 rounded-xl bg-text-bg border-primary md:w-8/12 lg:w-7/12 xl:w-6/12"
  >
    <!--Filter-->
    <app-filter (sendActivitiesFiltered)="setActivitiesFiltered($event)">
    </app-filter>

    <!-- user routines-->
    @if (activities.length === 0) {
    <app-routines-list
      class="overflow-auto"
      [isFilter]="isFilter"
      [userInformation]="userInformation"
      (activitiesRoutine)="setActivities($event)"
    ></app-routines-list>

    } @else if (userInformation.routines.length > 0) {
    <!--user routine activities-->
    <app-activities-list
      [isFilter]="isFilter"
      [activities]="activities"
      (activitiesEmpty)="updateRoutines($event)"
    ></app-activities-list>

    } @if (!isFilter && status==='success' && userInformation.routines.length
    === 0) {
    <app-form-error-message>
      You have not created a routine yet
    </app-form-error-message>
    <a
      [routerLink]="'/create-routine'"
      [ngClass]="colorBtn['active']"
      class="flex justify-center my-2 px-8 py-1 m-auto font-semibold focus:bg-teal-900 focus:font-semibold w-fit rounded-3xl"
      >Create a routine</a
    >
    }
  </div>
</div>
