<div class="flex items-center justify-center w-screen h-screen">
  <div
    class="container mx-2 border-2 rounded-xl bg-text-bg border-primary md:w-8/12 lg:w-6/12 xl:w-4/12"
  >
    <div class="w-full">
      <h1 class="mt-4 text-center">Create new routine</h1>

      <!--type of categories -->
      <div class="overflow-auto">
        <ul class="flex justify-center w-full gap-10 py-4">
          @for (category of categories; track category.name; let i = $index) {
          <li>
            <button
              (click)="storeValues(category)"
              [ngClass]="
                category.isActive
                  ? colorBtn['active']
                  : colorBtn['inActive']
              "
              class="w-10 h-10 border border-primary rounded-3xl"
            >
              <fa-icon
                class="text-xl"
                tabindex="0"
                [icon]="icon_categories[category.name]"
              ></fa-icon>
            </button>
          </li>
          }
        </ul>
      </div>

      <h2 class="w-full text-center">{{ categoryName }}</h2>

      <!--subcategories of the category selected-->
      @if (subcategories.length > 0) {
      <app-sub-categories
        [subCategories]="subcategories"
        (sendActivity)="addActivities($event)"
      ></app-sub-categories>
      }
      <div
        class="flex flex-col justify-center w-full p-2 -mt-2 bg-secondary rounded-b-xl"
      >
        <button
          (click)="saveRoutine()"
          class="px-8 py-1 m-auto font-semibold focus:bg-teal-900 focus:font-semibold w-fit rounded-3xl"
          [disabled]="routine.activities.length == 0"
          [ngClass]="
            routine.activities.length > 0
              ? colorBtn['active']
              : colorBtn['disabled']
          "
        >
          Save
        </button>
        <!--TODO esto va a cambiar el campo requerido sera title que debo agregar-->
        @if(routine.activities.length == 0) {
        <app-form-error-message> Add at least one activity </app-form-error-message>
        }
      </div>
    </div>
  </div>
</div>
