<div
  class="flex flex-col items-center justify-center gap-2 p-4 mb-0 bg-secondary rounded-xl"
>
  <div class="flex flex-col w-full md:max-h-36 lg:max-h-full">
    <ul class="flex flex-col w-full gap-2 overflow-auto rounded-xl">
      @for (subCategory of subCategories; track subCategory; let i = $index) {
      <li class="rounded-md bg-text-bg">
        <btn-display-list
          (click)="openDialog(subCategory.name)"
          [name]="subCategory.name"
          [iconTypeButtonName]="faPlus"
        >
        </btn-display-list>
      </li>
      }
    </ul>
  </div>
</div>
