<div
  class="flex flex-col p-4 m-4 mb-0 gap-2 justify-center items-center bg-secondary rounded-xl"
>
  <div class="md:max-h-36 lg:max-h-full w-full flex flex-col">
    <ul class="flex flex-col gap-2 rounded-xl w-full overflow-auto">
      @for (subCategory of subCategories; track subCategory; let i = $index) {
      <li class="bg-text-bg rounded-md">
        <btn-display-list
          (click)="openDialog(subCategory.name)"
          [name]="subCategory.name"
          [iconTypeButtonName]="faPlus"
        >
        </btn-display-list>
      </li>
      }
    </ul>
  </div>
</div>
